<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
  <label>product name</label>
  <br>
  <input type="text" name="pname" value="{{a.productname}}">
  <br>
  <label>Price</label>
  <br>
  <input type="number" name="price" value="{{a.price}}" >
  <br>
  <label>Discription</label>
  <br>
  <input type="text" name="disc" value="{{a.discription}}">
  <br>
  <br>
  <label>image</label>
  <br>
  <img src="{% static im %}" height="200px" width="200px">
  <br>
  <input type="file" name="img">
  <br>
  <button type="submit" >update</button>

</form>

</body>
</html>