<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="" style="background-color: #ce2424;background-image: linear-gradient(180deg, #ce2424 0%, #2b1e1e 50%, #131913 100%);">
        <div class="container-fluid bg-dark">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="http://127.0.0.1:8000/sample/index/" style="color: rgb(50, 205, 94);">DC books</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="http://127.0.0.1:8000/sample/upload/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="register.html">Register</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                      </li>
                    </ul>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>

        </div>


    </div>

    <div>
      <div class="container-fluid " style=" height: 700px; background-color:#133950; background-image: linear-gradient(160deg, #174e6d 0%, #1a2d2d 50%, #942d2d 100%, #85FFBD 100%);">
        <div class="" style="">
          <div class="row" style="  height: 110px;">

            <div class="row col-12 col-sm-6 col-md-4">
              <h1></h1>

            </div>
          </div>
        </div>
        <div class="row" style="">
        <div class="row col-12 col-sm-6 col-md-4" style="margin-left: -176px">

        </div>
            <div class="row1 col-12 col-sm-6 col-md-4" style="margin-right: -14%;">
             <h1 style="color:#2ed750">DC Books</h1>
             <br>
             <h4 class="text">Read and blossem</h4>
                <p class="text-white  bg-info">



                </p>
        </div>
        <div class="row col-12 col-sm-6 col-md-4" style="padding-left: 31px;">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10" style="padding-bottom: 14px;">
                    <input type="text" class="form-control" id="inputEmail3" name="productname"  placeholder="Product">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10" style="padding-bottom: 14px;" >
                    <input type="number" class="form-control" id="inputPassword3" name="price"  placeholder="Price">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputaddress3" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10 " style="padding-bottom: 14px;">
                    <input type="text" class="form-control" id="inputaddress3" name="discription"  placeholder="Description">
                  </div>
                </div>
                 <div class="form-group row">
                  <label for="inputaddress3" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10 " style="padding-bottom: 14px;">
                    <input type="file" class="form-control"  name="image"  placeholder="product image">
                  </div>
                </div>


                <fieldset class="form-group"
                 style="padding-left: 91px;">
                  <div class="row">

                <div class="form-group row">
                  <div class="col-sm-10" style="padding-bottom: 14px;">
                    <button type="submit" class="btn btn-primary">Upload</button>
                  </div>
                </div>
            </form>
            </div>
        </div>



    </div>


    </div>

</body>
</html>